body {
  margin: 0%;
}
.btn {
  margin: 30px auto;
  padding: 8px;
  border: none;
  box-sizing: border-box;
  width: 50%;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border: 3px solid #5f5f5f;
  border-radius: 5px;
  background-color: #5f5f5f;
  color: #fff;
  transition: 0.3s all;
}
.btn:hover {
  border: 3px solid #5f5f5f;
  background-color: #efefef;
  color: #2f2f2f;
}
.backgroundImage {
  width: 100%;
  height: 100%;
}
.onImage {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 100px auto 0px auto;
  top: 0%;
  left: 0%;
}
.logo {
  margin: 10px;
  font-size: 30px;
}
.backgroundForm {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  margin: 0px auto;
  padding-top: 10px;
  padding-bottom: 30px;
  width: 60%;
}
.pageTitle {
  text-align: center;
}
.formItem {
  margin-top: 20px;
  margin-left: 25%;
}
.formInput {
  margin-left: 10%;
  width: 50%;
}
.buttonCenter {
  text-align: center;
}
.photoList{
	display: flex;
	flex-wrap:wrap;
}
.photoList li {
	width: calc(100%/3);/*←画像を横に3つ並べる場合*/
	padding:0 5px;/*←画像の左右に5pxの余白を入れる場合*/
	box-sizing:border-box;
}
.photoList li img {
	max-width:100%; /*画像のはみだしを防ぐ*/
	height: auto; /*画像の縦横比を維持 */
	border:solid 1px #ccc; /*←画像を1pxのグレーの枠線で囲む指定の場合*/
}